{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class=" uk-container uk-container-center uk-margin-large-top">

    <div class="uk-h4 uk-margin-large-bottom"> <div class="uk-alert"> Επεξεργασία & διαγραφή δεδομένων </div></div>

    <div class="uk-grid">
        <div class="uk-width-1-1">
            <table class="uk-table uk-table-striped">
                                    <thead>
                                        <tr>
                                            <th>Όνομα</th>
                                            <th>Είδος</th>
                                            <th>Αρχική τιμή</th>
                                            <th>Τελική τιμή</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in apotelesmata" >
                                            <td>{a item.name a}</td>
                                            <td>{a item.type_of_car a}</td>
                                            <td>{a item.initial_price a}</td>
                                            <td>{a item.final_price a}</td>
                                            <td><a href="{{ url_for('delete' , id="") }}{a item._id.$oid a}"  class="uk-button uk-button-danger">Διαγραφή</a> <a href="{{ url_for('update' , id="") }}{a item._id.$oid a}" class="uk-button uk-button-success">Επεξεργασία</a> </td>


                                        </tr>

                                    </tbody>
                                </table>
        </div>
    </div>



</div>


{% endblock %}