{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<div id="hello"  ng2-controller="CarContrller" >

        <li ng-repeat="car in getCars">{% car.name %}</li>

</div>




{% endblock %}