<!doctype html>
<html >
  <head>

      {% block head %}
          <link rel="stylesheet" href="{{ url_for('static', filename='uikit.gradient.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='jstyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;subset=greek" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Admin Area</title>
 <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    {% endblock %}

  </head>

  <body ng-app="CarApp">

    <header>
        <div class="uk-container uk-container-center">

                <nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="{{ url_for('index') }}">Αρχική</a></li>
         <li class="uk-parent"><a href="">Εταιρεία</a></li>
        <li><a href="">Επικοινωνία</a></li>

    </ul>

                    <div class="uk-navbar-flip">
                        <span class="uk-badge  uk-badge-success" style="padding:6px; margin-right: 10px; margin-top:4px;">Team Leader Adigoni</span>
                    </div>
</nav>

        </div>
    </header>

  <article>
       {% block content %}{% endblock %}
  </article>


  <footer>

  </footer>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script>



      (function () {

  'use strict';

  angular.module('CarApp', [])


            .config(['$interpolateProvider', function($interpolateProvider) {
                    $interpolateProvider.startSymbol('{a');
                    $interpolateProvider.endSymbol('a}');
            }])

          .controller('CarsController', ['$scope', '$log', '$http', function($scope, $log, $http) {


                    $http.get('http://127.0.0.1:5000/api/cars').
                          success(function(results) {
                            console.log(results);
                            $scope.apotelesmata = results
                          }).
                          error(function(error) {
                            $log.log(error);
                          });


          }
          ]);




}());

  </script>
  </body>
</html>